@import url(https://db.onlinewebfonts.com/c/02a670d8eb6755beb38a5d2353d2b81f?family=Source+Code+Variable);

body {
    background-color: white;
    overflow-x: hidden;
}

.logo {
    float: left;
    width: 167px;
    height: 65px;
}

/* <h3>レスポンシブでセマンティック</h3> */
h3 {
    position: absolute;
    top: 80px;
    left: 150px;
    z-index: 3;
    font-family: "Source Code Variable";
    font-style: normal;
    font-size: 27px;
    color: #ffffff;
    text-align: left;
    padding: 14px 48px;
    text-decoration: none;
    list-style-type: none;
}

/* <h5>WELCOME TO</h5> */
h5 {
    position: absolute;
    top: 180px;
    left: 152px;
    z-index: 3;
    font-family: "Source Code Variable";
    font-style: normal;
    font-size: 27px;
    color: #ffffff;
    text-align: left;
    padding: 14px 48px;
    text-decoration: none;
    list-style-type: none;
}

/* <h1>R&S PROJECT</h1> */
h1 {
    position: absolute;
    top: 80px;
    left: 150px;
    z-index: 3;
    font-family: "Source Code Variable";
    font-style: normal;
    font-size: 80px;
    color: #ffffff;
    text-align: left;
    padding: 14px 48px;
    text-decoration: none;
    list-style-type: none;
}

/* <p>A Responsive & Semantic Web Design<br>& Development Project by Jerome S.<br>Pavilion</p> */
p {
    position: absolute;
    bottom: -30px;
    left: 152px;
    z-index: 3;
    font-family: "Source Code Variable";
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    padding: 14px 48px;
    text-decoration: none;
    list-style-type: none;
}

.aiImg {
    position: absolute;
    top: 225px;
    right: 105px;
    z-index: 2;
    border: 5px solid #000000;
}

.bgDesign {
    width: 1450px;
    height: 715px;
    position: absolute;
    top: 95px;
    left: 15px;
    z-index: 1;
    overflow-y: hidden;
}

.bgGradient {
    width: 1625px;
    height: 715px;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: palevioletred
}

li {
    font-family: "Source Code Variable";
    font-style: normal;
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
}